$bg_color1: rgb(243, 244, 245);
$btn_bgColor: rgb(10, 70, 253);
$hover_color: rgb(41, 128, 227);

@font-face {
    font-family: fonty;
    src: url(Comfortaa-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: $bg_color1;
    width: 100%;
    position: fixed;
    z-index: 2;
    font-family: fonty, 'Times New Roman', Times, serif;

    .logo_box {
        margin-left: 80px;

        .logo_svg {
            width: 250px;
            padding-left: 0 60px;
        }
    }

    .nav_box {
        display: flex;
        align-items: center;
        margin-left: 80px;
        justify-content: space-between;


        .nav_items {
            text-decoration: none;
            color: #000;
            font-size: 1.2rem;
            margin: 0 10px;

            &:hover {
                color: $hover_color;
            }
        }

        .search_box {
            display: flex;
            align-items: center;

            .search_btn {
                // margin: 0 4px;
                border: none;
                background-color: transparent;
                cursor: pointer;
                padding: 0 70px 0 5px;
            }

            .reg_btn {
                background-color: rgb(39, 113, 250);
                padding: 0.63rem 1.25rem;
                border: none;
                color: #fff;
                border-radius: 8px;
                font-size: 1em;
                width: 180px;
                cursor: pointer;

                &:hover {
                    color: rgb(39, 113, 250);
                    background-color: white;
                }
            }
        }

        .hamburger_menu {
            display: none;

            .hamburger_line {
                height: 5px;
                width: 25px;
                background-color: #000;
                margin: 3px;
                cursor: pointer;


            }
        }
    }
}

.main1 {
    display: flex;
    font-family: fonty, Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    position: relative;
    margin: 0 5%;
    padding-top: 180px;

    .introtext {
        width: 50%;
        padding: 40px 0px 70px 70px;

        .hbeaut {

            font-family: fonty, Verdana, Geneva, Tahoma, sans-serif;
            font-size: 60px;
            font-style: normal;
            margin-bottom: 70px;

            .spanh1 {
                color: rgb(2, 119, 252);
                text-align-last: left;

            }

            .psv {
                color: rgb(94, 91, 91);
                font-size: larger;
                margin-top: 70px;



            }
        }

        .prem_btn {
            display: flex;
            margin-top: 70px;
            font-size: larger;
            border: none;
            background-color: none;




            .prem {
                background-color: #0071f2;
                color: white;
                border-radius: 5px;
                height: 35px;
                width: 180px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                cursor: pointer;



                &:hover {
                    background-color: white;
                    color: rgb(67, 67, 241);
                }
            }

            .prem1 {
                background-color: white;
                color: #0071f2;
                border: 1px solid #0071f2;
                border-radius: 3px;
                height: 35px;
                width: 180px;
                margin-left: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: rgb(67, 67, 241);
                    color: white;
                }

            }



        }
    }

    .guywithlaptop {
        display: flex;
        position: relative;
        justify-content: center;
        width: 50%;
        margin-top: 80px;
        // border: 3px solid black;

        .imglaptop {
            width: 100%;
        }

    }

    .div-wrapper {
        display: flex;
        background-color: rgb(39, 113, 250);
        height: 400px;
        width: 100%;
        border-radius: 4px;
        // margin: 100px 70px 0px 70px;



        .money {
            // display: flex;
            padding: 40px 0px 50px 70px;
            border-radius: 2px;

            .deldo {
                display: flex;

                .deliver {
                    font-size: 3em;
                    color: white;
                }

                .dollar {
                    display: flex;
                    border: 1px solid black;
                    border-radius: 50px;
                    background-color: white;
                    font-size: 3em;
                    font-weight: 150em;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    height: 65px;
                    width: 350px;
                    margin-left: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .spandoll {
                        color: rgb(39, 113, 250);
                        text-decoration: line-through;
                    }

                    .spandoll1 {

                        color: black;
                        text-decoration: none;

                    }
                }
            }

            .editable {
                font-size: x-large;
                color: white;
                display: block;
                margin-top: 35px;
                margin-bottom: 35px;
            }

            .browse {
                border-radius: 5px;
                border: none;
                color: rgb(39, 113, 250);
                width: 180px;
                height: 40px;
                font-size: 1em;
                cursor: pointer;

                &:hover {
                    background-color: rgb(2, 2, 43);

                }
            }

        }
    }

    .text {
        margin-top: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(49, 46, 46);


        .freetext {

            width: 600px;
        }

        .logo2 {
            border: 1px solid rgb(129, 120, 120);
            border-radius: 5px;
            width: 250px;
            height: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // margin-right: 50px;
            margin-left: 30px;
            font-weight: 900px;
            opacity: 0.9;


        }

        .cobox {
            border: 1px solid rgb(129, 120, 120);
            border-radius: 5px;
            margin-left: 30px;
            height: 50px;
            width: 150px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .bb {
                border: 1px solid none;
                background-color: #0071f2;
                width: 20px;
                height: 20px;
            }
        }

        .cobox1 {
            border-radius: 5px;
            margin-left: 30px;
            height: 50px;
            width: 150px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .bb1 {
                border: 1px solid none;
                background-color: #2f2e41;
                width: 20px;
                height: 20px;
            }
        }


    }

    // .imgs_wrapper {
    //     &:hover {
    //         background-color: rgb(227, 227, 250);
    //     }

    .imgs {
        padding-top: 70px;
        display: grid;
        grid-template-columns: 450px 450px 450px;
        grid-template-rows: 380px 380px 380px 380px 380px;
        // gap: 10px 10px;
        justify-content: space-evenly;

        .imgitem {

            background-color: rgb(253, 253, 253);
            height: 350px;
            width: 420px;
            align-items: center;
            justify-items: center;
        }

        &:hover {
            background-color: rgb(235, 235, 250);
        }

        .diag {
            height: 250px;
            width: 300px;
        }

        .name {
            color: #a9a9ad;
        }
    }

    .button_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding-top: 50px;

        .load {

            background-color: #0071f2;
            color: white;
            border-radius: 5px;
            height: 50px;
            width: 200px;
            cursor: pointer;
            border: 1px solid #0071f2;
            font-size: 1.5em;
            text-decoration: none;

            &:hover {
                background-color: white;
                color: #0071f2;
                border: 1px solid #0071f2;
            }


        }
    }

    .illustration {
        margin-top: 140px;

        color: rgb(68, 67, 67);
        display: block;
        justify-content: center;
        align-items: center;
        // border: 1px solid black;
        height: 140px;
    }

    .img_price {
        padding-top: 70px;
        display: grid;
        grid-template-columns: 450px 450px 450px;
        grid-template-rows: 800px 800px 800px 800px 800px 800px;
        // gap: 10px 10px;
        justify-content: space-evenly;

        .sports_fitness {

            height: 350px;
            width: 440px;
            align-items: center;
            justify-items: center;

            .bulk_img {
                height: 250px;
                width: 200px;

            }
            .price{
                border: 1px solid ;
                border-radius: 5px;
                background-color: rgb(235, 235, 250);
                color: #0071f2;
                font-size: 1.2em;
            }
        }



    }



}




@media screen and (max-width: 1024px) {
    header {

        .logo_box {
            margin-left: 20px;

            .logo_svg {
                width: 180px;
            }
        }

        .nav_box {
            display: flex;
            align-items: center;
            margin-right: 20px;

            .nav_items {
                text-decoration: none;
                color: #000;
                font-size: 1.2rem;
                margin: 0 15px;

                &:hover {
                    color: $hover_color;
                }

            }

            .search_box {
                display: flex;
                align-items: center;

                .search_btn {
                    margin: 0 40px;
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }

                .reg_btn {
                    background-color: $btn_bgColor;
                    padding: 0.63rem 1.25rem;
                    border: none;
                    color: #fff;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }

            .hamburger_menu {
                display: none;

                .hamburger_line {
                    height: 5px;
                    width: 25px;
                    background-color: #000;
                    margin: 3px;
                    cursor: pointer;


                }
            }
        }
    }

}






@media screen and (max-width: 425px) {

    header {
        width: 100vw;

        .logo_box {
            margin-left: 8px;

            .logo_svg {
                width: 70%;
            }
        }

        .nav_box {
            margin-right: 8px;

            nav {
                display: none;
            }

            .search_box {

                .search_btn {
                    margin: 10px;
                }

                .reg_btn {
                    width: 120px;
                }
            }


            .hamburger_menu {
                display: block;
                margin-left: 10px;
            }
        }

    }
}

@media screen and (max-width: 320px) {
    header {

        .nav_box {

            .search_box {
                display: none;

            }

        }
    }
}


.footer {
    background-color: rgb(47, 47, 56);
    height: 160px;
    margin: 0 5%;

    .navandlogo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100px;

        .fnav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;

            .navitem2lass {
                color: white;
                text-decoration: none;
                font-size: smaller;
                font-family: fonty, 'Courier New', Courier, monospace;

                &:hover {
                    color: #0071f2;
                }
            }

        }


        .flogo {
            justify-content: flex-end;
            align-items: center;
            width: 350px;
            display: flex;
            height: 70px;

            .social {
                margin-right: 15px;
            }

        }


    }


    .last {
        display: flex;
        justify-content: center;
        align-items: center;

        .lastext {

            width: 90%;
            padding-left: 400px;
            color: white;
            // align-items: center;

            .recap {
                justify-content: flex-end;
                // align-items: center;
                border: 1px solid red;
            }

        }

        .spaninfo {
            text-decoration: underline;
            text-decoration-line: $bg_color1;
        }
    }

}